mixin hotel-cards
	- var hotels=[{name:"Hilton New Orleans Riverside",address:{street:"2 Poydras St",city:"New Orleans",state:"LA",zip:70130},phone:"(504) 561-0500",lat:29.9475753,lon:-90.0656035,rates:{single:232,"double":232,trip:262,quad:282,shuttle:!1},img:"images/hotels/HiltonNewOrleansRiverside.jpg"},{name:"Astor Crowne Plaza New Orleans French Quarter",address:{street:"Canal St & Bourbon St",city:"New Orleans",state:"LA",zip:70130},phone:"(504) 962-0500",lat:29.9537664,lon:-90.071615,rates:{single:149,"double":149,trip:169,quad:189,shuttle:!0},img:"images/hotels/AstorCrownePlazaNewOrleansFrenchQuarter.jpg"},{name:"New Orleans Marriott",address:{street:"555 Canal St",city:"New Orleans",state:"LA",zip:70130},phone:"(504) 581-1000",lat:29.9525126,lon:-90.0851145,rates:{single:217,"double":217,trip:237,quad:257,shuttle:!0},img:"images/hotels/NewOrleansMarriott.jpg"},{name:"JW Marriott New Orleans",address:{street:"614 Canal Street",city:"New Orleans",state:"LA",zip:70130},phone:"(504) 525-6500",lat:29.9522973,lon:-90.0690139,rates:{single:240,"double":240,trip:260,quad:280,shuttle:!0},img:"images/hotels/JWMarriottNewOrleans.jpg"},{name:"The Ritz-Carlton, New Orleans",address:{street:"921 Canal St",city:"New Orleans",state:"LA",zip:70130},phone:"(504) 524-1331",lat:29.9550287,lon:-90.072685,rates:{single:259,"double":259,trip:299,quad:339,shuttle:!0},img:"images/hotels/TheRitzCarltonNewOrleans.jpg"},{name:"Courtyard New Orleans French Quarter/Iberville",address:{street:"910 Iberville St",city:"New Orleans",state:"LA",zip:70130},phone:"(504) 523-2400",lat:29.9554786,lon:-90.0728707,rates:{single:217,"double":217,trip:237,quad:257,shuttle:!0},img:"images/hotels/CourtyardNewOrleansFrenchQuarterIberville.jpg"},{name:"New Orleans Downtown Marriott at the Convention Center",address:{street:"859 Convention Center Blvd",city:"New Orleans",state:"LA",zip:70130},phone:"(504) 613-2888",lat:29.9432852,lon:-90.0691614,rates:{single:229,"double":229,trip:249,quad:269,shuttle:!1},img:"images/hotels/CourtyardNewOrleansDowntownConventionCenter.jpg"},{name:"Courtyard New Orleans Downtown/Convention Center",address:{street:"300 Julia St",city:"New Orleans",state:"LA",zip:70130},phone:"(504) 598-9898",lat:29.9445296,lon:-90.0682097,rates:{single:200,"double":200,trip:220,quad:240,shuttle:!1},img:"images/hotels/NewOrleansDowntownMarriottattheConventionCenter.jpg"},{name:"Hyatt Place New Orleans/Convention Center",address:{street:"881 Convention Center Blvd",city:"New Orleans",state:"LA",zip:70130},phone:"(504) 524-1881",lat:29.9424409,lon:-90.066954,rates:{single:199,"double":199,trip:219,quad:239,shuttle:!1},img:"images/hotels/HyattPlaceNewOrleansConventionCenter.jpg"},{name:"Hampton Inn & Suites New Orleans–Convention Center",address:{street:"1201 Convention Center Blvd",city:"New Orleans",state:"LA",zip:70130},phone:"(504) 566-9990",lat:29.9399868,lon:-90.0672997,rates:{single:189,"double":199,trip:209,quad:219,shuttle:!1},img:"images/hotels/HamptonInnSuitesNew Orleans–ConventionCenter.jpg"}]
	each hotel in hotels
		.hotel.text-center
			figure.hotel-img
				img(src=hotel.img, alt="alt")
				.hotel-rating
					svg
						use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#icon-hotel-star')
					svg
						use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#icon-hotel-star')
					svg
						use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#icon-hotel-star')
					svg
						use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#icon-hotel-star')
					svg
						use(xmlns:xlink='http://www.w3.org/2000/xlink', xlink:href='#icon-hotel-star')
			.hotel-content-outer
				.hotel-content
					h3.hotel-title= hotel.name
					em.hotel-caption= 'From $' + hotel.rates.single + ' per night'
			a.btn.btn-blue.hotel-btn View Rates
			.hotel-details
				.hotel-details-inner
					h5 Rate Per Night
					dl
						dd 1 Guest
						dt= '$' + hotel.rates.single
						dd 2 Guests
						dt= '$' + hotel.rates.double
						dd 3 Guests
						dt= '$' + hotel.rates.trip
						dd 4 Guests
						dt= '$' + hotel.rates.quad
					if hotel.rates.shuttle
						p.hotel-shuttle= 'Shuttle Provided'
					else
